{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Legado - Michael Jackson</title>
    <link rel="stylesheet" href="{% static 'styles/styles2.css' %}">
</head>
<body style="background-color: #0A0A0A; color: #F3F4F6;">
    
    <!--  NAV -->
    <header>
        
    </header>

<!-- SECCIÓN LA HISTORIA Y LEGADO -->
    <section class="seccion-historia">
        <div class="contenedor-historia">
            
            <div class="historia-texto">
                <h2 class="titulo-dorado">EL HOMBRE DETRÁS DEL MITO</h2>
                <p>
                    Nacido el 29 de agosto de 1958 en Gary, Indiana, Michael Joseph Jackson fue el octavo de diez hermanos en una familia de clase trabajadora. Su prodigioso talento se hizo evidente desde que era un niño, convirtiéndose rápidamente en el vocalista principal y el corazón de The Jackson 5. Sin embargo, su destino no era solo ser una estrella infantil; estaba destinado a redefinir el entretenimiento global.
                </p>
                <p>
                    A medida que creció, Michael rompió las cadenas de su éxito temprano para forjar una carrera en solitario sin precedentes. Con una ética de trabajo inquebrantable y un perfeccionismo legendario, transformó la música, la danza y la moda. Aunque su vida personal estuvo frecuentemente bajo el intenso escrutinio de los medios y marcada por la controversia y la tragedia, su genialidad artística nunca se apagó. Falleció el 25 de junio de 2009, pero dejó tras de sí un legado inmortal, consolidado para siempre como el indiscutible "Rey del Pop".
                </p>
            </div>

            <div class="historia-imagen">
                <img src="{% static 'images/Michael Biografia.jfif' %}" alt=" Foto de Michael Jackson en concierto">
                
                <div class="imagen-overlay"></div>
            </div>

        </div>
    </section>



    <!-- Seccion Banda de Records -->
    <section class="seccion-records">
        <div class="contenedor-records">
            
            <div class="record-item">
                <div class="icono-fondo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#D4AF37" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18V5l12-2v13"></path><circle cx="6" cy="18" r="3"></circle><circle cx="18" cy="16" r="3"></circle></svg>
                </div>
                <h3 class="record-numero">13</h3>
                <p class="record-etiqueta">PREMIOS GRAMMY</p>
            </div>

            <div class="record-item">
                <div class="icono-fondo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#D4AF37" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="2"></circle></svg>
                </div>
                <h3 class="record-numero">+400M</h3>
                <p class="record-etiqueta">DISCOS VENDIDOS</p>
            </div>

            <div class="record-item">
                <div class="icono-fondo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#D4AF37" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                </div>
                <h3 class="record-numero">39</h3>
                <p class="record-etiqueta">RÉCORDS GUINNESS</p>
            </div>

            <div class="record-item">
                <div class="icono-fondo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#D4AF37" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m2 4 3 12h14l3-12-6 7-4-7-4 7-6-7zm3 16h14"></path></svg>
                </div>
                <h3 class="record-numero">#1</h3>
                <p class="record-etiqueta">EL REY DEL POP</p>
            </div>

        </div>
    </section>


    <!-- SECCIÓN  DISCOGRAFÍA OFICIAL -->

    <section class="banner-carrusel">
    <div class="pista-carrusel">
        <div class="slide" style="background-image: url('../static/images/carrusel\ 1.jfif');"></div>
        <div class="slide" style="background-image: url('../static/images/carrusel\ 2.jfif');"></div>
        <div class="slide" style="background-image: url('../static/images/carrusel\ 3.jfif');"></div>
        <div class="slide" style="background-image: url('../static/images/carrusel\ 4.jfif');"></div>
        <div class="slide" style="background-image: url('../static/images/carrusel\ 5.jfif');"></div>

        <div class="slide" style="background-image: url('../static/images/carrusel\ 1.jfif');"></div>
    </div>

    <div class="overlay-oscuro"></div>

    <div class="contenido-banner">
        <h1>The King of Pop</h1>
        <p>Explora la discografia que cambio el estilo de la musica a nivel mundial.</p>
        <a href="#albumes" class="boton-magia">Ver Álbumes</a>
    </div>
</section>


    <!-- SECCIÓN: LA MAGIA DEL BAILE  -->
<section class="seccion-baile">
    <div class="resplandor-escenario"></div>

    <div class="contenedor-baile">
        <h2 class="titulo-dorado text-center">LA MAGIA DEL BAILE</h2>
        <p class="subtitulo-baile text-center">Explora los movimientos icónicos en imágenes</p>

        <div class="grid-movimientos">
            
            <div class="tarjeta-movimiento">
                <div class="imagen-encabezado">
                    <img src="{% static 'images/moonwalk2.jfif'%}" alt="Michael Jackson Moonwalk">
                </div>
                <div class="cuerpo-tarjeta">
                    <h3>El Moonwalk</h3>
                    <p>El paso que redefinió el escenario. Presentado en Motown 25 (1983), creó la ilusión de deslizarse hacia atrás mientras se camina hacia adelante.</p>
                </div>
            </div>

            <div class="tarjeta-movimiento">
                <div class="imagen-encabezado">
                    <img src="{% static 'images/inclinacion.jfif' %}" alt="Inclinación Smooth Criminal">
                </div>
                <div class="cuerpo-tarjeta">
                    <h3>Inclinación</h3>
                    <p>En 'Smooth Criminal' inclinó su cuerpo 45° hacia adelante. Para lograrlo, patentó (US 5.255.452) unos zapatos especiales con un mecanismo que se anclaba al escenario.</p>
                </div>
            </div>

            <div class="tarjeta-movimiento">
                <div class="imagen-encabezado">
                    <img src="{% static 'images/giros y puntas 2.jfif' %}" alt="Giros y Puntas de Michael Jackson">
                </div>
                <div class="cuerpo-tarjeta">
                    <h3>Giros y Puntas</h3>
                    <p>Su firma inconfundible: múltiples giros perfectos sobre las puntas de los pies, terminando siempre en una pose escultural y precisa.</p>
                </div>
            </div>

        </div>
    </div>
</section>


    <!-- FOOTER -->
    <footer style="text-align: center; padding: 20px;">
        <p>© Copyright 2026 MJ Project MJ</p>
        <p>Gracias por entrar a la pagina :)</p>
    </footer>

</body>
</html>