{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <header class="main-header">
        <div class="contenido">
            <h1>MICHAEL<br>JACKSON</h1>
            <p class="subtitulo">El legado del Rey del Pop</p>
            <button class="boton-magia">DESCUBRE LA MAGIA</button>
        </div>
    </header>

</body>

</html>
